<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="shelley greenspan">
    <meta name="description" content="shelley greenspan nyc textile conservation and restoration services">
    <meta name="msvalidate.01" content="471862C32C110D8709D0C4EBD5E18D18" />
    <title>sg textile conservation</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/dist/milligram.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/local.css">
</head>
    <body>
      <main class="wrapper">
      <nav class="navigation">
      <section class="container">
	<ul class="navigation-list">
	  <div class="left clear">
	    <li class="navigation-item" >
	      <a class="navigation-title" href="/" title="shelley greenspan - textile conservation">
		<img src="images/tree.png" height=45>&nbsp;
		<h1 class="title">
		  <div class=header1>shelley greenspan
		    <div class=header2>textile conservation</div>
		</h1>
	      </a>
	    </li>
	    </div>
	    <div class="right">
	      <li class="navigation-item">
		<a class="navigation-link" href="#popover-grid" data-popover>
		  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="13px" viewBox="0 0 20 13">
		    <rect width="20" height="3"/>
		    <rect y="5" width="20" height="3"/>
		    <rect y="10" width="20" height="3"/>
		  </svg>
		</a>
		<div class="popover" id="popover-grid">
		  <ul class="popover-list">
		    <li class="popover-item">
		      <a class="popover-link" href="/services" title="services">services</a>
		    </li>
		    <li class="popover-item">
		      <a class="popover-link" href="/mailcontact" title="contact">contact</a>
		    </li>
		  </ul>
		</div>
	      </li>
	    </div>
	</ul>
      </section>
      </nav>
      
      <section class="container" id="page content">
	
	<% content %>

      </section>
      </main>
    <script src="scripts/main.js"></script>
    </body>
</html>
