<p>Your inquiry was received [% date %].</p>
<p>I will review it and contact you as soon as possible.</p>
<p>Thank you,</p>
<p>shelley greenspan<br>
[% server %]</p>
<img src="https://textileconservation.us/images/treelogo40.png" height=34>


