<h5 class="title">studio services:</h5>
<p>Stabilization, stitch repair, stitch/pressure mounting, linings, hanging systems, consolidation, adhesive treatment, dry surface cleaning, vacuuming, wet cleaning, suction table and micro-emulsion localized cleaning</p>

<h5 class="title">onsite services:</h5>
<p>Installation/deinstallation, evaluations, repair, minor cleaning, recommendations for storage practices/procedures</p>
<p>Preparation of loaned artwork; packaging for travel and exhibition</p>

<h5 class="title">consultation services:</h5>
<p>Treatment proposals and condition reports</p>
